[flake8]
max-line-length = 120
extend-ignore = E203, W503
exclude = .git,__pycache__,.venv,venv,build,dist

per-file-ignores =
    app.py:E501
    train_model.py:E501,E702
    scripts/generate_cluster_map.py:E401,F401,E231,E302,E305,E225,E702
    genai_prescriptions.py:E501,E302
